@using UdemySalesWebApp.Entities;
@model List<Category>;
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">List</h1>
    @foreach (var item in Model)
    {
        var aux = $"{item.Codigo} - {item.Description}";
        <span>@aux</span> <br/>
    }

</div>
